<!DOCTYPE html>
<html lang="en">

{% csrf_token %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>NotesPlus</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/logo.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">
  <link href="static/assets/css/styel1.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/366d5f8648.js" crossorigin="anonymous"></script>

  <!-- =======================================================
  * Template Name: FlexStart - v1.12.0
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  {% load static %}
  {% block head %}
  <link rel="stylesheet" href="{% static 'static/CSS12/style.css' %}" type="text/css">
  {% endblock %}

  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W6FQWN3F9K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-W6FQWN3F9K');
</script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4296612589753200"
     crossorigin="anonymous"></script>

     <!-- Hotjar Tracking Code for https://notessplus.azurewebsites.net/ -->
<script>
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:3450645,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-72D3SL4W0C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-72D3SL4W0C');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : '3f037a7a50e9db4ed2d68cf659bcfa1d',
		'format' : 'iframe',
		'height' : 300,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.profitabledisplaynetwork.com/3f037a7a50e9db4ed2d68cf659bcfa1d/invoke.js"></scr' + 'ipt>');
</script>

<script type='text/javascript' src='//pl19072151.highrevenuegate.com/c7/6a/0f/c76a0f16da03a21ba773d2c1b0668197.js'></script>
     
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'homepage' %}" class="logo d-flex align-items-center">
        <img src="static/assets/img/logo.png" alt="">
        <span>NotesPlus</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'homepage' %}">Home</a></li>
          <li><a class="nav-link scrollto" href="http://127.0.0.1:8000/assg_page">About</a></li>
          <li><a class="nav-link scrollto" href="#about">Assignment</a></li>
            <ul>
              <li class="dropdown"><a href="#"><span>Branch</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li class="dropdown"><a href="#"><span>Data Science</span> <i class="bi bi-chevron-right"></i></a>
                  </li>
                  <li class="dropdown"><a href="#"><span>Ai&ML</span> <i class="bi bi-chevron-right"></i></a>
                  </li>
                  <li class="dropdown"><a href="#"><span>Mechanics</span> <i class="bi bi-chevron-right"></i></a>
                  </li>
                  <li class="dropdown"><a href="#"><span>Electric</span> <i class="bi bi-chevron-right"></i></a>
                  </li>
                  <li class="dropdown"><a href="#"><span>IOT</span> <i class="bi bi-chevron-right"></i></a>
                  </li>
              </li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
    
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section class="hhh" id="hh1">
    <!-- <div class="hello">
      <div class="cont">
        <h1>Hello <span class="auto-type"></span></h1>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
      <script>
        var typed = new Typed('.auto-type', {
          strings: ['Student','fuck off'],
            typeSpeed: 150,
            backSpeed: 150,
            loop: true
          });
      </script>
    </div> -->
    <ul>
      <div class="row" >
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fa-solid fa-brackets-curly">1</i>
            </div>
            <h3>Semester 1</h3>
            <p>
              Click here to view all notes, assignment and experiment of sem-1
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fa-solid fa-brackets-curly">2</i>
            </div>
            <h3>Semester 2</h3>
            <p>
              Click here to view all notes, experiment and assignment of sem-2
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fa-solid fa-brackets-curly">3</i>
            </div>
            <h3>Semester 3</h3>
            <p>
              Click here to view all notes, experiment and assignment of sem-3
            </p>
          </div>
        </div>
        <div class="column" onClick="index()">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fa-solid fa-brackets-curly">4</i>
            </div>
            <h3>Semester 4</h3>
            <p>
              Click here to view all notes, experiment and assignment of sem-4
            </p>
          </div>
        </div>
      </div>

    </ul>
    
  </section><!-- End Hero -->

  

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="#" class="logo d-flex align-items-center">
              <img src="static/assets/img/logo.png" alt="">
              <span>NotesPlus</span>
            </a>
            <p>We provide solution of all assignments, experiments, question bank and notes of all branch and year.</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>
  <script>
    function index() {
        window.open("{% url 'exp1' %}");
    }
  </script>

</body>

</html>
