<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>NotesPlus</title>
    <meta content="" name="description">

    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="static/assets/img/logo.png" rel="icon">
    <link href="static/assets/img/favicon(2).png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet">
    <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet">
    <link href="static/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet">
    <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="static/assets/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="static/assets/css/style.css" rel="stylesheet">
    <link href="./style.css" rel="stylesheet">

    <!-- Google tag (gtag.js) -->
    <script async
      src="https://www.googletagmanager.com/gtag/js?id=G-W6FQWN3F9K"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-W6FQWN3F9K');

  
  </script>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4296612589753200"
     crossorigin="anonymous"></script>

  <!-- Hotjar Tracking Code for https://notessplus.azurewebsites.net/ -->
<script>
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:3450645,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-72D3SL4W0C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-72D3SL4W0C');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : '3f037a7a50e9db4ed2d68cf659bcfa1d',
		'format' : 'iframe',
		'height' : 300,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.profitabledisplaynetwork.com/3f037a7a50e9db4ed2d68cf659bcfa1d/invoke.js"></scr' + 'ipt>');
</script>

<script type='text/javascript' src='//pl19072151.highrevenuegate.com/c7/6a/0f/c76a0f16da03a21ba773d2c1b0668197.js'></script>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
      <div class="container-fluid container-xl d-flex align-items-center
        justify-content-between">

        <a href="#" class="logo d-flex align-items-center">
          <img src="static/assets/img/logo.png" alt="">
          <span>NotesPlus</span>
        </a>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About</a></li>
            <li class="dropdown"><a href="#"><span>Branch</span> <i class="bi
                  bi-chevron-down"></i></a>
              <ul>
                <li class="dropdown"><a href="#"><span>Data Science</span> <i
                      class="bi bi-chevron-right"></i></a>
                  <ul>
                    <li><a href="{% url 'assg_page' %}">Assignment</a></li>
                    <li><a href="{% url 'exp1' %}">Experiments</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#"><span>Ai&ML</span> <i class="bi
                      bi-chevron-right"></i></a>
                  <ul>
                    <li><a href="{% url 'assg_page' %}">Assignment</a></li>
                    <li><a href="{% url 'exp1' %}">Experiments</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#"><span>Mechanics</span> <i
                      class="bi bi-chevron-right"></i></a>
                  <ul>
                    <li><a href="{% url 'assg_page' %}">Assignment</a></li>
                    <li><a href="{% url 'exp1' %}">Experiments</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#"><span>Electric</span> <i
                      class="bi bi-chevron-right"></i></a>
                  <ul>
                    <li><a href="{% url 'assg_page' %}">Assignment</a></li>
                    <li><a href="{% url 'exp1' %}">Experiments</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#"><span>IOT</span> <i class="bi
                      bi-chevron-right"></i></a>
                  <ul>
                    <li><a href="{% url 'assg_page' %}">Assignment</a></li>
                    <li><a href="{% url 'exp1' %}">Experiments</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            <li><a class="getstarted scrollto" href="{% url 'register' %}">Get
                Started</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
      </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <div class="main_div">
      <section id="hero" class="hero d-flex align-items-center" style="height:
        auto !important; margin: 5rem 0 0 0 !important;">

        <div class="container">
          <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
              <h1 data-aos="fade-up">Welcome to the landing page of NotesPlus</h1>
              <h2 data-aos="fade-up" data-aos-delay="400">We provide solution of
                all assignments, experiments, question bank and notes of all
                branch and year</h2>
              <div data-aos="fade-up" data-aos-delay="600">
                <div class="text-center text-lg-start">
                  <a href="{% url 'register' %}" style="z-index: 999;">
                    <img src="static/assets/img/button_icon.png" width="100"
                      class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 hero-img" data-aos="zoom-out"
              data-aos-delay="200">
              <img src="static/assets/img/hero-img.png" class="img-fluid"
                alt="">
            </div>
          </div>
        </div>

      </section>
    </div><!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">

      </section>

      <section id="values" class="values">

        <div class="container" data-aos="fade-up">

          <header class="section-header">
            <h2>We provide</h2>
            <p>Assignments, Experiments and Questions Bnak Solution</p>
          </header>

          <div class="row">

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
              <div class="box">
                <img src="static/assets/img/values-1.png" class="img-fluid"
                  alt="">
                <h3>Assignments</h3>
                <p>View all assignments solution from all semester and branch
                  which is written my some of the topper from your branch.</p>
              </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up"
              data-aos-delay="400">
              <div class="box">
                <img src="static/assets/img/values-2.png" class="img-fluid"
                  alt="">
                <h3>Experiments</h3>
                <p>View all experiments solution from all semester and branch
                  which is written my some of the topper from your branch</p>
              </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up"
              data-aos-delay="600">
              <div class="box">
                <img src="static/assets/img/values-3.png" class="img-fluid"
                  alt="">
                <h3>Question Bank</h3>
                <p>View all question bank solution from all semester and branch
                  which is written my some of the topper from your branch.</p>
              </div>
            </div>

          </div>

        </div>

      </section>

      <section id="services" class="services">

        <div class="container" data-aos="fade-up">

          <header class="section-header">
            <h2>Features</h2>
            <p>See what feature we provide on our site</p>
          </header>

          <div class="row gy-4">

            <div class="col-lg-4 col-md-6" data-aos="fade-up"
              data-aos-delay="200">
              <div class="service-box blue">
                <i class="ri-discuss-line icon"></i>
                <h3>Easy-to-use</h3>
                <p>You can view and download with in a site and you can use it
                  in your phone also.</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up"
              data-aos-delay="300">
              <div class="service-box orange">
                <i class="ri-discuss-line icon"></i>
                <h3>Upload to earn</h3>
                <p>You can also upload your assignments, experiments and notes
                  if you have done before time and if you got right you will
                  earn money for your every upload.</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up"
              data-aos-delay="400">
              <div class="service-box green">
                <i class="ri-discuss-line icon"></i>
                <h3>Notification System</h3>
                <p>A notification system that informs students of any updates or
                  changes to their assignments/experiments.</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up"
              data-aos-delay="500">
              <div class="service-box red">
                <i class="ri-discuss-line icon"></i>
                <h3>Comment System</h3>
                <p>A commenting system that enables students and teachers to
                  leave feedback on assignments/experiments.</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up"
              data-aos-delay="600">
              <div class="service-box purple">
                <i class="ri-discuss-line icon"></i>
                <h3>Search Functionality</h3>
                <p>A search feature that allows students to easily find their
                  assignments/experiments.</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up"
              data-aos-delay="700">
              <div class="service-box pink">
                <i class="ri-discuss-line icon"></i>
                <h3>Data Backup and Security</h3>
                <p> Ensureing that all uploaded assignments/experiments are
                  securely stored and backed up regularly to prevent loss of
                  data.</p>
              </div>
            </div>

          </div>

        </div>

      </section>

      <section id="team" class="team">

      </section>

    </main>

    <footer id="footer" class="footer">

      <div class="footer-top">
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
              <a href="#" class="logo d-flex align-items-center">
                <img src="static/assets/img/logo.png" alt="">
                <span>NotesPlus</span>
              </a>
              <p>We provide solution of all assignments, experiments, question
                bank and notes of all branch and year.</p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>

            <div class="col-lg-2 col-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of
                    service</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy
                    policy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center
      justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="static/assets/vendor/aos/aos.js"></script>
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="static/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="static/assets/js/main.js"></script>
    <script>
    function index6() {
        window.open("{% url 'register' %}");
    }
  </script>
  </body>

</html>