<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,
            shrink-to-fit=no">
        <title>notes views</title>
        <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet"
            href="static/css/https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700">
        <link rel="stylesheet" href="static/fonts/fontawesome-all.min.css">
        <link rel="stylesheet" href="static/fonts/ionicons.min.css">
        <link rel="stylesheet" href="static/fonts/line-awesome.min.css">
        <link rel="stylesheet" href="static/css/Animated-Type-Heading-BS5.css">
        <link rel="stylesheet" href="static/css/Articles-Cards-images.css">
        <link rel="stylesheet" href="static/css/Black-Navbar.css">
        <link rel="stylesheet"
            href="static/css/Button-Change-Text-on-Hover.css">
        <link rel="stylesheet" href="static/css/Gamanet_Select_default_bs5.css">
        <link rel="stylesheet" href="static/css/News-Cards.css">
        <link rel="stylesheet"
            href="static/css/Pure-CSS-Electric-storm-button.css">
        <link rel="stylesheet" href="static/css/styles.css">
        <link rel="stylesheet" href="static/css1/style.css">
    </head>

    <body><nav class="navbar navbar-light navbar-expand-md navbar-fixed-top
            navigation-clean-button" style="background: rgb(34, 34,
            34);border-radius: 20;border-top-left-radius:
            20;border-top-right-radius: 20;border-bottom-right-radius:
            20;border-bottom-left-radius: 20;border-style: none;padding-top:
            0;padding-bottom: 10px;">
            <div class="container"><button class="navbar-toggler"
                    data-bs-toggle="collapse" data-bs-target="#navcol-1"><span
                        class="visually-hidden">Toggle navigation</span><span
                        class="navbar-toggler-icon"></span></button>
                <div><a class="navbar-brand" href="#"><span>Student-Study-Portal</span></a></div>
                <div id="navcol-1" class="collapse navbar-collapse"
                    style="color: rgb(255,255,255);">
                    <ul class="navbar-nav nav-right">
                        <li class="nav-item"><a class="nav-link active"
                                href="http://127.0.0.1:8000/" style="color:
                                rgba(224,217,217,0.9);">home </a></li>
                        <li class="nav-item dropdown"><a class="dropdown-toggle
                                nav-link" aria-expanded="false"
                                data-bs-toggle="dropdown" href="#" style="color:
                                rgba(224,217,217,0.9);">Services </a>
                            <div class="dropdown-menu"><a class="dropdown-item"
                                    href="services.html">Price Packages</a><a
                                    class="dropdown-item" href="#">Order
                                    Services</a><a class="dropdown-item"
                                    href="#">Custom Request</a></div>
                        </li>
                        <li class="nav-item"><a class="nav-link"
                                href="http://127.0.0.1:8000/experiment"
                                style="color: rgba(224,217,217,0.9);">experiment
                            </a></li>
                        <li class="nav-item"><a class="nav-link" href="faq.html"
                                style="color: rgba(224,217,217,0.9);">faq </a></li>
                        <li class="nav-item"><a class="nav-link"
                                href="contact.html" style="color:
                                rgba(224,217,217,0.9);">contact </a></li>
                    </ul>
                    <p class="ms-auto navbar-text actions"><a class="login"
                            href="login.html" style="color:
                            rgba(224,217,217,0.9);">Log In</a><a class="btn
                            btn-light action-button" role="button"
                            href="signup.html" style="color:
                            rgba(0,0,0,0.9);background:
                            var(--bs-gray-200);border-radius: 10px;border-style:
                            solid;border-color: rgba(0,0,0,0.9);font-size:
                            16px;padding: 5px 8px;">Sign Up</a></p>
                </div>
            </div>
        </nav>
        <section class="hello">
            <div class="hello">
                <div class="container">
                    <h1>Choose any <span class="auto-type"></span></h1>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
                <script>
                    var typed = new Typed('.auto-type', {
                        strings: ['Assignments'],
                        typeSpeed: 100,
                        backSpeed: 100,
                        loop: true
                    });
                </script>
            </div>
        </section>

        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div id="cardEntrada-1" class="p-4 text-center shadow-lg m-5
                        rounded-5" style="background: linear-gradient(171deg,
                        var(--bs-pink) 0%, var(--bs-indigo) 100%),
                        var(--bs-purple);width: 280px;"><i class="fas
                            fa-database" style="font-size: 72px;"></i>
                        <h3 class="text-white text-center pt-2">Data
                            Science&nbsp;</h3>
                        <p class="fw-bold pt-1 text-white p-0 m-0">Subtitle</p>
                        <p class="fw-light text-white m-0">Click here to view
                            all notes, assignment and experiment of data
                            science&nbsp;</p>
                        <hr class="text-white">
                        <div class="col-12"><button class="button" type="button"
                                data-hover="SURE!" onclick="notes_adder()"><span>CLICK
                                    HERE TO VIEW</span></button><button
                                class="btn" type="button"
                                data-bs-target="#modalRecibirCadaber"
                                data-bs-toggle="modal"></button></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="cardEntrada-3" class="p-4 text-center shadow-lg m-5
                        rounded-5" style="background: linear-gradient(171deg,
                        var(--bs-pink) 0%, var(--bs-indigo) 100%),
                        var(--bs-purple);width: 280px;"><svg
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512
                            512" width="1em" height="1em" fill="currentColor"
                            style="font-size: 72px;">
                            <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                            <path d="M512 256C512 397.4 397.4 512 256 512C114.6
                                512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0
                                512 114.6 512 256zM177.8 63.19L187.8 80.62C190.5
                                85.46 192 90.93 192 96.5V137.9C192 141.8 193.6
                                145.6 196.3 148.3C202.6 154.6 212.8 153.1 218.3
                                147.1L231.9 130.1C236.6 124.2 244.8 122.4 251.6
                                125.8L266.8 133.4C270.2 135.1 273.1 136 277.8
                                136C284.3 136 290.6 133.4 295.2 128.8L299.1
                                124.9C302 121.1 306.5 121.2 310.1 123.1L339.4
                                137.7C347.1 141.6 352 149.5 352 158.1C352 168.6
                                344.9 177.8 334.7 180.3L299.3 189.2C291.9 191
                                284.2 190.7 276.1 188.3L244.1 177.7C241.7 176.6
                                238.2 176 234.8 176C227.8 176 220.1 178.3 215.4
                                182.5L176 212C165.9 219.6 160 231.4 160
                                244V272C160 298.5 181.5 320 208 320H240C248.8
                                320 256 327.2 256 336V384C256 401.7 270.3 416
                                288 416C298.1 416 307.6 411.3 313.6 403.2L339.2
                                369.1C347.5 357.1 352 344.5 352 330.7V318.6C352
                                314.7 354.6 311.3 358.4 310.4L363.7 309.1C375.6
                                306.1 384 295.4 384 283.1C384 275.1 381.2 269.2
                                376.2 264.2L342.7 230.7C338.1 226.1 338.1 221
                                342.7 217.3C348.4 211.6 356.8 209.6 364.5
                                212.2L378.6 216.9C390.9 220.1 404.3 215.4 410.1
                                203.8C413.6 196.8 421.3 193.1 428.1 194.6L456.4
                                200.1C431.1 112.4 351.5 48 256 48C228.3 48 201.1
                                53.4 177.8 63.19L177.8 63.19z"></path>
                        </svg>
                        <h3 class="text-white text-center pt-2">Ai &amp; Ml</h3>
                        <p class="fw-bold pt-1 text-white p-0 m-0">Subtitle</p>
                        <p class="fw-light text-white m-0">Click here to view
                            all notes, experiment and assignment of Ai&amp;Ml</p>
                        <hr class="text-white">
                        <div class="col-12"><button class="button" type="button"
                                data-hover="SURE!" onclick="notes_adder()"><span>CLICK
                                    HERE TO VIEW</span></button><button
                                class="btn" type="button"
                                data-bs-target="#modalRecibirCadaber"
                                data-bs-toggle="modal"></button></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="cardEntrada-4" class="p-4 text-center shadow-lg m-5
                        rounded-5" style="background: linear-gradient(171deg,
                        var(--bs-pink) 0%, var(--bs-indigo) 100%),
                        var(--bs-purple);width: 280px;"><i class="icon
                            ion-settings" style="font-size: 47px;"></i>
                        <h3 class="text-white text-center pt-2">Mechanical&nbsp;</h3>
                        <p class="fw-bold pt-1 text-white p-0 m-0">Subtitle</p>
                        <p class="fw-light text-white m-0">Click here to view
                            all assignments, experiment and notes of
                            mechanics&nbsp;</p>
                        <hr class="text-white"><button class="button"
                            type="button" data-hover="SURE!"
                            onclick="notes_adder()"><span>CLICK HERE TO VIEW</span></button>
                        <div class="col-12"><button class="btn" type="button"
                                data-bs-target="#modalRecibirCadaber"
                                data-bs-toggle="modal"></button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div id="cardEntrada-2" class="p-4 text-center shadow-lg m-5
                        rounded-5" style="background: linear-gradient(171deg,
                        var(--bs-pink) 0%, var(--bs-indigo) 100%),
                        var(--bs-purple);width: 280px;"><svg
                            xmlns="http://www.w3.org/2000/svg" width="1em"
                            height="1em" fill="currentColor" viewBox="0 0 16 16"
                            class="bi bi-lightning" style="font-size: 66px;">
                            <path d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1
                                .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7
                                9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0
                                1-.48-.641l2.5-8.5zM6.374 1 4.168 8.5H7.5a.5.5 0
                                0 1 .478.647L6.78 13.04 11.478 7H8a.5.5 0 0
                                1-.474-.658L9.306 1H6.374z"></path>
                        </svg>
                        <h3 class="text-white text-center pt-2">Electrical&nbsp;</h3>
                        <p class="fw-bold pt-1 text-white p-0 m-0">Subtitle</p>
                        <p class="fw-light text-white m-0">Click here to view
                            all assignments, experiment and notes of electrical
                            branch</p>
                        <hr class="text-white"><button class="button"
                            type="button" data-hover="SURE!"
                            onclick="notes_adder()"><span>CLICK HERE TO VIEW</span></button>
                        <div class="col-12"><button class="btn" type="button"
                                data-bs-target="#modalRecibirCadaber"
                                data-bs-toggle="modal"></button></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="cardEntrada-5" class="p-4 text-center shadow-lg m-5
                        rounded-5" style="background: linear-gradient(171deg,
                        var(--bs-pink) 0%, var(--bs-indigo) 100%),
                        var(--bs-purple);width: 280px;"><i class="la
                            la-internet-explorer" style="font-size: 63px;"></i>
                        <h3 class="text-white text-center pt-2">IOT</h3>
                        <p class="fw-bold pt-1 text-white p-0 m-0">Subtitle</p>
                        <p class="fw-light text-white m-0">Click here to view
                            all assignments, experiments and notes of iot branch</p>
                        <hr class="text-white">
                        <div class="col-12"><button class="button" type="button"
                                data-hover="SURE!" onclick="notes_adder()"><span>CLICK
                                    HERE TO VIEW</span></button><button
                                class="btn" type="button"
                                data-bs-target="#modalRecibirCadaber"
                                data-bs-toggle="modal"></button></div>
                    </div>
                </div>
            </div>
        </div>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script
            src="assets/js/Animated-Type-Heading-BS5-Animated-Type-Heading.js"></script>
        <script
            src="assets/js/Gamanet_Select_default_bs5-Gamanet_Select_default_bs5-Gamanet_Select_default-Gamanet_select_default.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script>
        function notes_adder(){
            window.open("http://127.0.0.1:8000/assignment/");
        }

    </script>
    </body>

</html>