{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Register{% endblock %}
{% block content %}
<head>
  <!-- Hotjar Tracking Code for https://notessplus.azurewebsites.net/ -->
<script>
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:3450645,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-72D3SL4W0C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-72D3SL4W0C');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : '3f037a7a50e9db4ed2d68cf659bcfa1d',
		'format' : 'iframe',
		'height' : 300,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.profitabledisplaynetwork.com/3f037a7a50e9db4ed2d68cf659bcfa1d/invoke.js"></scr' + 'ipt>');
</script>

<script type='text/javascript' src='//pl19072151.highrevenuegate.com/c7/6a/0f/c76a0f16da03a21ba773d2c1b0668197.js'></script>
</head>
<link href="static/assets/img/logo.png" rel="icon">
<div class="container">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Log In</legend>
      {{form|crispy}}
    </fieldset>
    <div class="form-group">
      <button href="{% url 'assg_page' %}" class="btn btn-outline-info" type="submit">
        Sign In
      </button>
      <a href="{% url 'register' %}" class="btn btn-outline-info" style="border-color: #4285F4;">
        <i class="" style="color: white;"></i> Create Account
      </a>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted">Need an Account?
      <a class="ml-2" href="{% url 'register' %}">Create an Account</a>
    </small>
  </div>
</div>
{% endblock content %}
