<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes Upload</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <label class="logo">Notes</label>
    </nav> 
    <div class="boo">
        <div class="wrapper">
            <p>Choose any Semester</p>
            <div class="words">
                <span>for assignemnet</span>
                <span>for notes</span>
                <span>for experiments</span>
                <span>for assignemnet</span>
            </div>
        </div>
        <!-- <div class="aa">
            <a href="#" class="btn">Sem-1</a>
            <a href="#" class="btn">Sem-2</a>
            <a href="#" class="btn">Sem-3</a>
            <a href="#" class="btn">Sem-4</a>
        </div> -->
    </div>
    <div class="aa">
        <button onclick="window.open('http://192.168.0.102:8000/')">Visit Example.com</button>
        <a href="#" class="btn" onclick="window.open('http://192.168.0.102:8000/')">Sem-1</a>
        <a href="#" class="btn">Sem-2</a>
        <a href="#" class="btn">Sem-3</a>
        <a href="#" class="btn">Sem-4</a>
    </div>
</body>
</html>
<!-- <main>
    {% if messages %}
      {% for msg in messages %}
        <div class="alert alert-{{ msg.tags }}" role="alert">
          {{ msg }}
        </div>
      {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock content %}
  </main> -->