<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notification</title>
    <link rel="stylesheet" href="static/CSS12/style.css" type="text/css">
</head>
<body>
    <div class="notify-alert-box">
        <img src="imgstatic/assets//logo.png" alt="">
        <p>We'd like to send notification of the latest posts and updates.</p>
        <div class="buttons">
            <button id="notify-cancle-button">Deny</button>
            <button id="notify-button">Allow</button>
        </div>
    </div>
</body>
</html>